body {
  display: flex;
  background-color: #242424;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.read-toggle {
  background-color: #660000;
  text-align: center;
  user-select: none;
}

input:invalid {
  background-color: #eeeeee;
}

.input-box {
  border-radius: 4px;
  width: 300px;
  height: 1.4em;
}

.read-toggle.has-read {
  background-color: #006600;
  text-align: center;
}

.read-toggle:hover {
  filter: brightness(1.3);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

tr {
  display: flex-table;
}

td,
th {
  border: 1px solid #363636;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  max-width: 300px;
}

th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
  background-color: #242424;
}

.current-books {
  margin: 20px;
}

.book-add {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #484848;
  border-radius: 8px;
  padding: 10px;
}

.read-ask {
  display: flex;
}

.form-group {
  margin: 5px;
}

label {
  display: inline-block;
  width: 45px;
}

#submit {
  width: 75px;
}

#delete-header {
  text-align: center;
  border: none;
}
.delete-button {
  text-align: center;
  border: none;
  background-color: #363636;
  color: white;
  margin-left: 4px;
  font-size: 1em;
  padding: 8px 12px;
  border-radius: 6px;
  display: table-cell;
  vertical-align: middle;
}

.delete-button:hover {
  filter: brightness(1.3);
}
